/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/* fonts */
@font-face{
    font-family:'Gilroy-Bold';
        src:url('fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 700;    
    font-display: swap;
    font-syle: normal;
}
@font-face{
    font-family:'Gilroy-Menium';
        src:url('fonts/Gilroy-Menium.woff') format('woff');
    font-weight: 400;    
    font-display: swap;
    font-syle: normal;
}
/*settings */
html {
    font-size: 10px;
}
.container {
    max-width: 94rem;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}
/*containers*/
.header__container {
}
.hero__container {    
}
.about-me__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*containers*/

/*burger-menu*/
.burger-menu {   
    width: 6rem;
    height: 4rem;
    position: fixed;
    right: 20px;
    top:6.6rem;
    
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    display: none;
}
.burger-menu__line {
    display: block;
    background-color: #000;
    height: 3px;
    transition: .2s;
}
.burger-menu__line_1 {
    width: 25%;
}
.burger-menu__line_2 {
    width: 50%;
}
.burger-menu__line_3 {
    width: 100%;
}
.burger-menu.active .burger-menu__line {
    width: 100%;
}

@media(max-width: 800px) {
    .burger-menu {
        display: flex;
        z-index: 10;
    }
    .header {
        display: flex;
        justify-content: flex-end;
    }

}
/* header */
.header {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}

.header__menu {
    padding: 3.2rem 0 3.2rem 0;
    border-bottom: 1px solid;
}
.menu {
}
.menu__list {
    display: flex;
    justify-content: space-between;
}

.menu__item {
}
.menu__link {
    font-size: 1.8rem;
    line-height: 100%;    
}
.menu__link,
.menu__link:visited {
    font-family: 'Gilroy-Bold', sans-serif;
    color: #828282;
    text-transform: capitalize;
    transition: color .2s;
}
.menu__link:hover {
    color: #000;
}
@media(max-width: 800px){
    .menu__list {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        background-color: #fff;
        padding-top: 6.6rem;
        padding-left: 2.6rem;
        opacity: 0;
        transition: .4s;
    }
    .menu__list>*:not(:last-child) {
        margin-bottom: 6.8rem;
    }
    .menu__link {
        font-size: 3.4rem;
    }
}
.menu__list.active {
    right: 0;
    opacity: 1;
}

/*HERO*/

.hero {
    min-height: 100vh;
    padding-top: 13rem;
    padding-bottom: 10.4rem
}
.hero__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.9rem 0 3rem 0;
}
.hero__title {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 4.7rem;
    line-height: 100%;
    text-transform: capitalize;
}
.hero__descr {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 1.8rem;
    line-height: 100%;
}
.toolbar {
    font-family: 'Gilroy-Bold', sans-serif;
    color: #828282;
    text-transform: capitalize;
    
    font-size: 1.8rem;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.hero__en {
}
.hero__lang-line {
    color: #000;
}
.hero__ru {
}
.hero__ru,
.hero__en {
    transition: color .2s;
}
.hero__ru:hover,
.hero__en:hover {
    color:#000;
    cursor: pointer;
}
.hero__photo {
    max-width: 100%;
}

/*ABOUT-ME*/
.about-me {
    padding-top: 13rem;
    padding-bottom: 10.4rem;
    background-color: #F6F6F6;
}
.about-me__title {
    margin-bottom: 1.8rem;
}
.section__title {
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 3.4rem;
    line-height: 100%;
}
.about-me__desrs-list {
    max-width: 45rem;
}
.about-me__descrs-list__item {
    margin-bottom: 5.4rem;
    text-align: center;
}
.about-me__descr {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 1.8rem;
    line-height: 100%;
    color: #070707;
}
@media(max-width: 800px) {
    html {
        font-size: 8px;
    }
}
@media(max-width: 800px) {
    html {
        font-size: 6px;
    }
}



/*SKILLS*/
.skills {

    padding-top: 9.1rem;
    padding-bottom: 11rem;
}
.skills__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.container {
}
.skills__title {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}
.section__title {
}
.skills__descr {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 1.8rem;
    line-height: 100%;
}
.skills__list {
    display: flex;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: -1;
}
.skills__list-item {

}

/*PORTFOLIO*/
.portfolio {
    background-color: #F6F6F6;
}
.portfolio__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio__title {
    margin-bottom: 4.7rem;
}
.section__title {
}
.portfolio__list {
}
.portfolio__list-item {
    display: flex;
    flex-direction: column;
    align-items:center;

    margin-bottom: 9.9rem;
}
.portfolio__list-item label {
    margin-bottom: 4.4rem;
}
.portfolio__list-img {
    max-width: 100%;
}
.portfolio__list-link {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 1.8rem;
    line-height: 100%;
}
.portfolio__list-link,
.portfolio__list-link:visited {
    color: #070707;
    text-decoration-line: underline;
}

/*CONTACTS*/
.contacts {
    padding-top: 11.4rem;
    padding-bottom: 10.4rem;
}
.contacts__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts__container > *:not(:last-child) {
    margin-bottom: 3rem;
}
.contacts__title {
}
.section__title {
}
.contacts__descr {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 1.8rem;
    line-height: 100%;
    text-align: center;
}
.contacts__btn {
}
.btn {
    display: inline-block;
    font-family: 'Gilroy-Bold', sans-serif;
    font-size: 1.8rem;
    line-height: 100%;
    padding: 1.3rem 2.9rem;
    background-color: #000;
    border-radius: 3em;
}
.btn,
.btn:visited {
    color: #fff;
}
.contacts__social-list {
    width: 34.2rem;
    display: flex;
    justify-content: space-between;
}
.contacts__social-list-item {
}
.contacts__social-list-link {
}
.contacts__link-me {
    font-family: 'Gilroy-Medium', sans-serif;
    font-size: 1.4rem;
    line-height: 100%;
    text-align: center;
    color: #828282;
}